## 1 Print

In [1]:
print("Hello, World")

Hello, World

In [2]:
print('Hello, World!')

Hello, World!

## 2 Variable for Strings

In [3]:
name = "Mustafa"
print(name)

Mustafa

## 3 Variables for Numbers

In [5]:
weights = 150
weights = weights + 25
print(weights)

175

In [6]:
num = 10
add_num = 8
total_num = num + add_num
print(total_num)

18

In [7]:
age = 10
actual_age = age + 6
print(actual_age)

16

## 4 Math Expressions: Familiar Operators

In [8]:
print(2+3)

5

In [9]:
num = 7 - 5
print(num)

2

## 5 Variable Names Legal and Illegal

In [13]:
illegal_names = "and as assert break class continue def del elif else except False finally for from global if import in is lambda None nonlocal not or pass print raise return True try while with yield"
print(illegal_names)

and as assert break class continue def del elif else except False finally for from global if import in is lambda None nonlocal not or pass print raise return True try while with yield

## 6 Math expressions: Unfamiliar operators

In [15]:
modulo = 100 % 3
print(modulo)

1

In [16]:
num = 4
num +=2
print(num)

6

## 7 Math expressions: Eliminating ambiguity

In [17]:
num = 3 + 5 * 2
print(num)

13

In [18]:
num = (3 + 5) * 2
print(num)

16

## 8 Concatenating text strings

In [19]:
greet = "hello"
name = "Mustafa"
greetName = greet + name
print(greetName)

helloMustafa

In [20]:
print(greet,name)

hello Mustafa

In [21]:
print(greet + name)

helloMustafa

## 9 if statements

In [23]:
species = "cat"
if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [24]:
if 2 + 2 == 4:
    print("Everything makes sense.")

Everything makes sense.

In [26]:
number_of_husbands = 1
if number_of_husbands == 1:
    print("So far so good.")
    print("Congratulations.")
    print("All done")

So far so good.
Congratulations.
All done

## 10 Comparison operators

In [27]:
your_ticket_number = 123
if your_ticket_number != 487208:
    print("Better luck next time.")

Better luck next time.

In [28]:
if 1 > 0:
    print("True")

True

In [29]:
if 1 <= 1:
    print("True")

True

## 11 else and elif statements

In [30]:
species = "Dog"
if species == "cat":
    print("Yep, it's cat.")
if species != "cat":
    print("Nope, not cat.")

Nope, not cat.

In [31]:
species = "Dog"
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

Nope, not cat.

In [35]:
donut_condition = "fresh"
donut_price = "low"
buy_score = 0

if donut_condition == "fresh":
    buy_score += 10
elif donut_price == "low":
    buy_score += 5
else:
    buy_score = 0
print(buy_score)

10

In [36]:
donut_condition = "fresh"
donut_price = "low"
buy_score = 0

if donut_condition == "fresh":
    buy_score += 10
if donut_price == "low":
    buy_score += 5
print(buy_score)

15

## 12 Testing sets of conditions

In [37]:
weight = 350
time = 3
if weight > 300 and time < 6:
    status = "try to recruit him"
    print(status)

try to recruit him

In [39]:
SAT = 80
avg = 85
GPA = 2.4
parent = "alum"
if SAT > avg or GPA > 2.5 or parent == "alum":
    message = "Welcome to Leeds College!"
    print(message)

Welcome to Leeds College!

In [47]:
age = 70
res = "U.S"
if (age > 65 or age < 21) and res == "U.K.":
    print("Resident of UK")

In [48]:
if age > 65 or (age < 21 and res == "U.K."):
    print("Resident of US")

Resident of US

## 13 if statements nested

In [51]:
a = 1
b = 2
c = 10
d = 10
g = 3
h = 4
f = 8
x = 5
y = 6
if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = f
else:
    e = f

print(g ,e)

3 8

## 14  Comments

In [52]:
# This is a comment.
# This is another comment.
# Python ignores these comments.
# The code that Python executes is next, on line

print("Hello, world!")

Hello, world!

In [54]:
'''
This is a comment.
This is another comment.
Python ignores these comments.
The code that Python executes is on line 7.
'''
print("Hello, world!")

Hello, world!

## 15 Lists

In [56]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]
print("Welcome to " + cities[3])

Welcome to Denver

## 16 Lists: Adding and changing elements

In [57]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]

cities.append("New York")
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [58]:
cities.insert(0, "New York")
print(cities)

['New York', 'Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

In [59]:
cities.insert(2, "New York")
print(cities)

['New York', 'Atlanta', 'New York', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle', 'New York']

## 17 Lists: Taking slices out of them